input, textarea, select, button, a.btn {
  outline: none;
  box-shadow: none !important;
}

button.table-btn {
  border-radius: 50%;
}

label[for="addBtn"] {
  width: 100%;
}

#addBtn {
  width: initial;
}